body {
    width: 400px;
  }
  
  h1 {
    display: inline;
    position: relative;
    top: -70px;
  }
  
  #goku {
    display: inline;
    height: 150px;
  }
  
  .section {
    margin-top: 20px;
    margin-bottom: 5px;
    border-top: 1px solid #ccc;
  }